[submodule "solutions/doctest"]
	path = solutions/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "solutions/exercise2_doctest/tests/doctest"]
	path = solutions/exercise2_doctest/tests/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "solutions/exercise2_doctest_fakeit/tests/FakeIt"]
	path = solutions/exercise2_doctest_fakeit/tests/FakeIt
	url = https://github.com/eranpeer/FakeIt.git
[submodule "solutions/solutions/exercise2_doctest_fakeit/tests/doctest"]
	path = solutions/solutions/exercise2_doctest_fakeit/tests/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "solutions/exercise4_fakeit/tests/FakeIt"]
	path = solutions/exercise4_fakeit/tests/FakeIt
	url = https://github.com/eranpeer/FakeIt.git
[submodule "solutions/exercise4_fakeit_doctest/tests/FakeIt"]
	path = solutions/exercise4_fakeit_doctest/tests/FakeIt
	url = https://github.com/eranpeer/FakeIt.git
[submodule "solutions/exercise4_fakeit_doctest/tests/doctest"]
	path = solutions/exercise4_fakeit_doctest/tests/doctest
	url = https://github.com/onqtam/doctest.git
